/* @font-face {font-family: "SFProDisplay";src: url(".css/font/SFPRODISPLAY/SFProDisplay-Regular.ttf") format("truetype");font-weight: 400;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url(".css/font/SFPRODISPLAY/SFProDisplay-Light.ttf") format("truetype");font-weight: 300;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url(".css/font/SFPRODISPLAY/SFProDisplay-Medium.ttf") format("truetype");font-weight: 500;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url(".css/font/SFPRODISPLAY/SFProDisplay-Bold.ttf") format("truetype");font-weight: bold;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url(".css/font/SFPRODISPLAY/SFProDisplay-Semibold.ttf") format("truetype");font-weight: 600;font-display: fallback;}
@font-face {font-family: "SFProDisplay";src: url(".css/font/SFPRODISPLAY/SFProDisplay-Heavy.ttf") format("truetype");font-weight: 800;font-display: fallback;} */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
:root {
    --gray: rgb(98, 96, 96);
    --lightest-gray: rgb(249, 249, 249);
    --lighter-gray: rgb(240, 240, 240);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 60px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
    --star-rate:rgb(232, 232, 47);
}

html {
    scroll-behavior: auto;
}

body::-webkit-scrollbar {
    width: 5px;
    /* height:50px; */
}

body::-webkit-scrollbar-track {
    background-color: #fafafa;
}

body::-webkit-scrollbar-thumb {
    /* background: rgba(0, 0, 0, 0); */
    background: rgba(0, 0, 0, 0.45);
    border-radius: 3px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}

body {
    margin: 0;
    font-family: "SF Pro Display", sans-serif;
    overflow-x: hidden;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}


select {
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    border-right: 10px solid #eee !important;
    height: 40px;
    cursor: pointer;
}

body,input,button,textarea,pre {
    font-family: SFProDisplay, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* .switch {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 23px;
    display: inline-block;
    margin-left: 30px;
    top: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: #ccc;
    border-radius: 100rem;
    transition: background-color 0.25s linear;
}

.switch:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 40px;
    background-color: #fff;
    top: 5px;
    left: 5px;
    transition: background-color 0.25s linear, transform 0.25s linear;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch {
    background-color: rgb(55, 160, 55); 
}

.switch-input:checked + .switch:after {
    transform: translateX(30px);
    background-color: #fff;
} */


.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0 0.5rem;
    height: var(--header-height);
    justify-content: space-between;
    width: 100%;
    height: 60px;
    display: none;
}

.menu-icon-btn {
    background: none;
    border: none;
    padding: 0;
}

.menu-icon {
    font-size: 30px;
    color: var(--medium-gray);
    cursor: pointer;
    padding-left: 1rem;
}

.menu-icon:hover {
    color: var(--dark-gray);
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px 20px;
    padding-left: 45px;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: var(--lighter-gray);
}

.search label i {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
    color: #555;
}

.user {
    position: relative;
    border-radius: 50%;
    right: 1rem;
}

.user .profile {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user .profile img,
.user .profile i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user .profile-cropdown {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.user .profile-cropdown.active {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 4px 10px rgb(0 0 0 /33%);
}

.user .profile-cropdown::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 25px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.user .profile-cropdown h3 {
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    color: #555;
    line-height: 1.2rem;
}

.user .profile-cropdown h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.user .profile-cropdown li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.user .profile-cropdown li i {
    max-width: 20px;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.5s;
}

.user .profile-cropdown li:hover i {
    opacity: 1;
}

.user .profile-cropdown li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: 0.5s;
}

.user .profile-cropdown li:hover a {
    color: red;
}

.sidebar {
    flex-shrink: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--light-gray);
    /* height: calc(100vh - var(--header-height)); */
    /* padding-top: 2rem; */
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    top: 0;
    /* top: var(--header-height); */
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 10px rgba(255, 255, 255, 0.5);
}
@media (max-width:700px){
    .sidebar{
        max-width: 190px;
    }
}

.sidebar .hidden-sidebar {
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
    width: 100%;
    height: auto;
    opacity: 1;
}

.sidebar .top-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

}

.sidebar .channel-logo {
    display: block;
    width: 70px;
    height: 70px;
    transition: var(--animation-duration) var(--animation-timing-curve);
   
}

.sidebar.open .channel-logo {
    width: 200px;
    height: 200px;
}

.sidebar .channel-logo>img {
    width: 100%;
    height: 100%;
    margin-top: 10px;

}
@media (max-width:700px){
    .sidebar .channel-logo>img{
        max-width: 170px;
        max-height: 170px;
        margin-left: 10px;
        

        
    }


}


.middle-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;

    margin-top: 40px;
}

.middle-sidebar,
.bottom-sidebar {
    width: 100%;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.sidebar.open .sidebar-link {
    justify-content: flex-start;
    padding-left: 1rem;
 
}

.sidebar-icon {
    font-size: 24px;
    flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
    margin-left: 1.5rem;
    white-space: nowrap;
}

.sidebar-link {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
    color: black;
    text-decoration: none;
    align-items: center;
    padding-left: 25px;
}

.sidebar-link:hover {
    color: var(--gray);

}

.sidebar-list-item {
    position: relative;
    width: 100%;
    color: white;
    padding-left:10px ;
    
}

.sidebar-list-item.active {
    color: var(--light-gray);
    background-color: var(--lightest-gray);
    /* box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05),
    -5px -5px 10px rgba(255, 255, 255, 0.5); */
}

.sidebar-list-item:hover {
    background-color: var(--lighter-gray);
}

.sidebar-list-item.active::before {
    content: "";
    background-color: var(--grey);
    height: 100%;
    top: 0;
    left: 0;
    width: 5px;
    position: absolute;
}

.sidebar.open {
    width: 250px;
}

.your-channel {
    color: var(--dark-gray);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
}

.channel-name {
    color: var(--medium-gray);
    font-size: 0.75rem;
}

.sidebar .top-sidebar {
    height: 30px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
    height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
}

.page-title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
}

.content {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.section {
    padding: 2rem 2rem 0 1.5rem;
    display: none;
    background-color: #fff;
    position: relative;
}

.section.active {
    display: block;
 
}
.embrace{
    background-color: var(--lighter-gray);
    margin: 0;
    height: 100%;
}

.cards {
    display: flex;
    margin-top: 30px;
    
}

.cards .card-single {
    display: none;
    background: var(--light-gray);
    height: 550px;
    width: 70%;
    min-width: 290px;
    position: relative;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 12px auto;
    transform: rotate(5deg);

}
.fade {
    animation: fade 4s ease-out ;
    /* animation-duration: 4s; */
}
@keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
}

.cards .card-single .box {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    align-items: center;
    transition: 0.5s;
    padding: 20px;
    text-align: center;
    transform: rotate(-5deg);
}

.cards .card-single:hover .box {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, var(--dark-gray),  rgb(98, 96, 96));
    transform: rotate(-7deg);
}

.cards .card-single .box .on-box {
    margin-top: 2rem;
}

.cards .card-single .box h2 {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 2rem;
    color: var(--dark-gray);
    transition: 0.3s;
    pointer-events: none;
}

.cards .card-single .box h3 {
    font-size: 1.5rem;
    color: var(--dark-gray);
    z-index: 1;
    transition: 0.3s;
    margin-bottom: 10px;
}

.cards .card-single .box p {
    font-size: 0.9em;
    font-weight: 400;
    color: var(--dark-gray);
    z-index: 1;
    transition: 0.3s;
    text-align: left;
    text-align: center;
}

.cards .card-single .box:hover h2,
.cards .card-single .box:hover h3,
.cards .card-single .box:hover p {
    color: #fff;
}

/* customer */
.table {
    width: 100%;
    overflow: auto;
    background: #fff;
    border-radius: 7px;
}
#column-chart{
    width: 100%;


}

.setting {
    position: absolute;
    top:-50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--lighter-gray);
}

thead td {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    background: var(--lighter-gray);
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

tbody tr td {
    padding: 10px 15px;
    text-align: center;
    white-space: nowrap;
}

.prd-img-tbl {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 99px;
    margin-left: 0;
}

/* Product */
.product-all {
    padding: 20px 80px;
}
@media (max-width: 700px) {
    .product-all{
        padding: 20px ;

    }
    
}

.btn-control-large{
    background-color: var(--lighter-gray);
    height: 40px;
    color: var(--gray);
    border-radius: 5px;
    padding: 0 20px;
    width: auto!important;
}

.admin-control-right i {
    margin-right: 5px;
}

.list {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
}
@media (max-width: 700px) {
    .list{
        min-width: 300px;
        max-width: 340px;
        top: 80px;
       

    }
    
}

.list-header {
    margin-left: 50px;
}

.list-left {
    display: flex;
    width: 80%;
}

.list-left img {
    max-width: 180px;
    min-width: 180px;
    height: 160px;
    object-fit: cover;
    margin-right: 14px;
    border-radius: 5px;
}
@media (max-width: 850px) {
    .list-left img{
        min-width: 40px;
        max-width: 50px;
        height: 70px;
    }

}

.list-category {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 12px;
    border: 1px solid #b0bec5;
    color: #78909c;
    border-radius: 30px;
    font-size: 13px;
}


.list-quantity{
    display: block;
    font-family: Font Awesome 6 Pro;
    margin-top: 10px;
}
.form-label-quantity{
    font-family: Font Awesome 6 Pro;
    color: gray;
}

.btn-sizes{
    display: flex;

}
.btn-size{
    background-color: transparent;
    height: 35px;
    width: 35px;
    color: #78909c;
    font-family: Font Awesome 6 Pro;
    font-size: 16px;
    border: 0.05px solid #b0bec5;
    border-radius: 20px;
    margin-right: 10px;
    text-align: center;
    position:relative;
    

}

.btn-size:hover{
    color: #000;
    border: 1px solid #000;
}
.list-btn-size.active .btn-size{
    border: 0.05px solid #000000;
    color: #000;
    font-size: 16.5px;
    font-family: Font Awesome 6 Pro;
}
.list-btn-size.active .icon-out{
   
    color: #ff0000;
}
.icon-out {
    display: none;
    position: fixed;
    font-size: 40px;
    font-family: Font Awesome 6 Pro;
    margin-right: 10px;
    margin-top: -2px;
    color: #78909c;
}   
.list-right {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: flex-end;
}
@media (max-width: 900px) {
    .list-right span{
        min-width: 70px;
        max-width: 90px;
        height: auto;
        font-size: 13.5px;
        margin-right: -20px;

    }
    
}
.rate{
    margin-top: 25px;
}
.rate i{
    font-size: 18px;
}


.list-info p {
    margin-top: 7px;
    flex-grow: 1;
}


.list-info h4 {
    font-weight: 500;
    color: var(--text-color);
    font-size: 16px;
}

.list-note {
    color: #0000008a;
    font-size: 16.5px;
    margin-right: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* -webkit-box-orient: vertical; */
    overflow: hidden;
}
@media (max-width: 900px) {
    .list-info h4,span,label{
       
        font-size: 13px;

    } .list-info{
        min-width: 100px;
        max-width: 100px;
    }
    .list-note{
        font-size: 12px;
    }
}
    

.list-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
   
}

.list-old-price {
    font-size: 20px;
    color: black;
    margin-right: 10px;
}
.list-old-price.active{
    text-decoration: line-through;
    color: var(--light-gray);
    font-size: 18px;
    margin-right: 20px;
}
@media (max-width: 900px) {
    .list-price{
        font-size: 12px;
        margin-right: 5px;
    }
    .list-old-price.active{
        font-size: 12px;
        margin-right: 5px;
    }
}


.list-current-price{
    margin-right: 10px;
    color: black;
    font-weight: 530;
    font-size: 20px;

}
#out-price{
 
    position: absolute;
    right: 10px;
    transform: translateY(25%);
    font-family: Font Awesome 6 Pro;
    font-weight: 20;
    margin-right: 10px;
    margin-top: -54px;
   display: none;
}
#out-price i{
    font-size: 90px;
    height: 1px;
    color: red;
    font-weight: 20;
    
}

.list-control {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.btn-edit,
.btn-delete {
    padding: 10px 15px ;
    border-radius: 10px;
    font-size: 14px;
    color: var(--text-color);
    text-transform: uppercase;
    margin-left: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    align-items: center;

}
.btn-detail,
.btn-edit,
.btn-delete i{
    font-size: 17px;
    font-weight: 300;

}

.list+.list {
    margin-top: 10px;
}

.list-tool {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.btn-detail{
    background-color: var(--lighter-gray);
    color: white;
    padding: 12px 10px ;
    border-radius: 10px;
    font-size: 14px;
    color: var(--text-color);
    text-transform: uppercase;
    margin-left: 0;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    align-items: center;
}
.btn-detail:hover{
    background-color: grey;
    color: white;
}

.btn-edit:hover{
    background-color: grey;
    color: white;

}

.btn-delete {
    background-color: var(--lighter-gray);
    color: black;

}
.btn-delete:hover{
    background-color: grey;
    color: white;
}

/* Modal */
.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.modal.open {
    pointer-events: auto;
    opacity: 1;
}

.modal-close {
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
}

.modal.open .modal-container {
    transform: scale(1);
}

.modal-close i {
    transition: all 0.4s;
    color: #fff;
}

.modal-close:hover i {
    transform: rotate(180deg);
}

.modal-container {
    background-color: #fff;
    max-height: calc(110vh - 60px);
    box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-y: overlay;
    position: relative;
    transform: scale(0.8);
    transition: 0.3s ease;

}

.modal.add-product .modal-container {
    width: 750px;
    padding-bottom: 20px;
}


.modal-container-title {

    margin-top: 16px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}


.form-label {
    margin-bottom: 5px;
    margin-right: 10px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}

.form-control {
    width: 100%;
    height: 35px;
    padding: 1px 12px;
    border: 1px solid #f6dede;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s linear;
}

.product-desc {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px;
    background-color: #f7f7f7;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
}

.form-control:focus {
    border-color: var(--gray);
}


.form-message {
    color: red;
    font-size: 13px;

}
#edit-account-e{
    display: flex;
    height: 35px;
    align-items: center;
}
#edit-account-e label:first-child{
    margin-top:6px ;
}
.form-status{
    padding: 0 20px;
    color: var(--light-gray);
    font-size: 17px;
    cursor: pointer;
    height: 30px;
    align-items: center;
    display: flex;

}
#acv-circle,
#nonacv-circle{
   border: 0.5px solid var(--lighter-gray);
   padding:  3px;
   border-radius: 15px;
  align-items: center;
  display: flex;
  margin-right: 10px;
 
}
.form-status i{
    color: var(--lighter-gray);

}
#status-nonacv.open,
#status-acv.open{
    font-weight: 600px;
    font-family: Font Awesome 6 Pro;
    color: #000;

}
#status-acv.open span{
    border:0.5px solid #47d864;
}
#status-nonacv.open span{
    border:0.5px solid red;
}
#status-acv:hover span,
#status-nonacv:hover span{
    border:0.5px solid var(--light-gray);
}
#status-nonacv:hover i,
#status-acv:hover i{
   color: var(--light-gray);

}
#status-acv.open i{
    color: #47d864;
}
#status-nonacv.open i{
    color: red;
}


.form-submit {
    height: 40px;
    background-color: var(--light-gray);
    color: #000000;
    padding: 10px 40px;
    margin: 25px 0;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: Font Awesome 6 Pro;
    font-size: 14px;
}
.form-submit:hover{
    background-color: var(--gray);
    color: white;

}

.form-submit i {
    margin-right: 6px;
}

.form-group.file {
    text-align: center;
    bottom: -5px;
    position: absolute;

}

input[type="file"] {
    display: none;
}

.form-label-file {
    background-color: var(--gray);
    color: #fff;
    padding: 8px 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    margin-top: 10px;

    cursor: pointer;
    align-items: center;
}

.form-label-file i {
    font-size: 15px;
    margin-right: 8px;
    cursor: pointer;
}
.image-hover,
.upload-image-preview {
    width: 300px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
}
.upload-image-preview{
    opacity: 1;
}
.image-hover{
    opacity: 0; /* Ban đầu là ẩn */
}


.add-product-form {
    display: flex;
}

.add-product-form>div {
    width: 50%;
    padding: 0 20px;
}

.modal-content-left {

    overflow: hidden;
    position: relative;
}
.up-img:hover .upload-image-preview{
    opacity: 0;
    
}
.up-img:hover .image-hover{
    opacity: 1;

}


/* Account  */

.modal.signup .modal-container {
    overflow: hidden;
    width: 500px;
    position: relative;
}

.form-content {
    padding: 0 20px 20px;
}

.form-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}
.signup .form-message {
    color: red;
    font-size: 13px;
    display: inline-block;
}


.signup-form {
    margin-top: 15px;
}

label a {
    color: var(--gray);
}

#btn-add-account{
    background-color: var(--gray);
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 0 20px
}
#password{
    position: relative;

}

.form-eye{

    position: absolute;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 17px;
    margin-top: -20px;

}
#showPassword{
    display: none;


}
#hidePassword{
    display: block;



}

/* Detail Order */


.admin-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.tk .admin-control {
    top: -15px;
    margin-bottom: 37px;
}
@media (max-width: 600.98px){
    .admin-control{
       height: 70px;
    }
}

.admin-control-center {
    flex: 1;
}

.admin-control-right {
    display: flex;
    align-items: center;
}

.admin-control-right button {
    width: 100px;
    margin: 0 20px;
    border-radius: 5px;
    height: 40px;
}

.admin-control-right button:hover {
    background-color: var(--gray);
    color:#fff
}

.form-search {
    display: flex;
    justify-content: center;
}

.search-btn {
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: var(--text-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

.form-search-input {
    height: 40px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f0f0f0;
    
    padding: 10px 20px;
    padding-left: 0;
    width: 70%;
}
#filter-Money{
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
#filter-Money i{
    font-family: "Font Awesome 6 Pro";
    background-color: none;
    font-size: 20px;
}

#btn-fillter-tk,
#btn-fillter-Us,
#btn-fillter-Od{
    width: 150px;
    margin-left: 0;
}
.modal-fillter-date{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}
.modal-fillter-date.open{
    display: block;
}
.fillter-date {
    position: fixed;
    background-color:var(--lightest-gray);
    box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
    border-radius: 5px;
    border: 0.01px solid var(--light-gray);
    transform: translateX(-4%) scale(0.8);
    transition: 0.3s ease;
    top: 50px;
    right: 21.7%;
    z-index: 100;
    width: 320px;
    height: 250px;

    

}
.fillter-Date {
    display: flex;
}

.fillter-Date>div:first-child {
    margin-right: 20px;
}

.fillter-Date>div>label {
    margin-right: 10px;
    font-size: 15px;
}

#fillter-date-close{
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
}
#fillter-date-close i {
    transition: all 0.4s;
    color: #fff;
    
}

#fillter-date-close:hover i {
    transform: rotate(180deg);
    align-items: center;
}
.fillter-date .opt-date {
    margin:20px 20px;
}
.opt-date div{
    margin: 10px;


}

.fillter-date select{
    border: 0.1px solid var(--light-gray);
    border-right:  0.1px solid var(--light-gray) !important;
}
.acp-date{
    right: 20px;
    position: fixed;
}
.form-gr-info{
    display: flex;
    border: 0.5px solid var(--lighter-gray);
    padding: 7.5px 3px;
    border-radius: 10px;
    position: relative;
    margin-left: 10px;
    background-color: var(--lightest-gray);

}


.tk .admin-control-right button{
    width: 50px;
    margin: 0 7.5px;
}
.form-info{
    position: relative;
}

.mess-info{
    visibility: hidden;
    position:absolute;
    top: 110%;
    width: 130px;
    left: -52%;
    font-size: 12px;
    text-align: center;
    background-color: var(--lightest-gray);
    border: 0.01px solid var(--light-gray);
    z-index: 100;
    border-radius: 7px;
    padding: 2px;

}
.btn-down-quatity:hover + .mess-info,
.btn-up-quatity:hover + .mess-info{
    visibility: visible;
}
#btn-reset-tk{
    width: 120px;
}

#btn-acp-date-tk,
#btn-acp-date-od,
#btn-acp-date-cus{
    border: 0.5px solid var(--gray);
    background-color: var(--lighter-gray);
    color: black;
    font-size: 15px;
    width: 80px;
    margin: 0 20px;
    border-radius: 5px;
    height: 40px;
    display: none;
}


#btn-acp-date-tk:hover,
#btn-acp-date-od:hover,
#btn-acp-date-cus:hover{
    background-color: var(--gray);
    color: white;
}
.show-Date{
    height: 30px;
    width: 65px;
    line-height: 30px;
    position: relative;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
}
.mess-time{
    display: inline-block;
    
}

.mess-time button{
    padding: 0px;
    border-radius: 5px;
    font-size: 15px;
    background-color: none;
    
}
.mess-time span{
    font-size: 15px;
}


#tinh-trang {
    background-color: #eee;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    height: 40px;
}

.modal.detail-order-product .modal-container,
.modal.detail-order .modal-container {
    width: 850px;
    height: 550px;
    overflow: hidden;
}
.modal.detail-order-product .modal-container{
    width: 900px;
    padding: 20px;
 
}
.modal.detail-order-product .modal-container h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: Font Awesome 6 Pro;
}


.modal-detail-order {
    display: flex;
}

.modal-detail-order>div {
    width: 50%;
    overflow-y: auto;
    height: 420px;
}

.modal-detail-order>div::-webkit-scrollbar {
    width: 3px;
    /* height:50px; */
}

.modal-detail-order>div::-webkit-scrollbar-track {
    background-color: #fafafa;
}

.modal-detail-order>div::-webkit-scrollbar-thumb {
    /* background: rgba(0, 0, 0, 0); */
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}
.detail-order-info-cust{
   text-align: center;
   margin-bottom: 10px;
}
.modal-detail-right {
    height: 100%;
}

.order-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--lighter-gray);
    padding: 5px;

}

.order-product-left {
    display: flex;
}

.order-product-left img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 14px;
    border-radius: 5px;
}

.order-product-info p {
    margin-top: 5px;
}

.order-product-info h4 {
    font-weight: 500;
    color: var(--text-color);
    font-size: 15px;
}

.order-product-category{
    color: #0000008a;
    font-size: 13px;
}
.order-product-size{
    font-weight: 500;
    font-size: 14px;
}

.order-product-quantity {
    font-weight: 500;
    font-size: 14px;
}

.order-product-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-product-old-price {
    font-size: 13px;
    text-decoration: line-through;
    color: #808080;
}

.order-product-current-price {
    color: var(--gray);
    font-weight: 500;
}

.detail-order-group {
    padding: 20px;
    padding-top: 0;
}

.modal-detail-left {
    padding: 10px 20px 0;
    border-right: 1px solid gray;
}

.detail-order-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.detail-order-item.tb {
    flex-direction: column;
}

.detail-order-item-b {
    color: #808080;
    font-size: 14px;
    margin-top: 8px;
    padding: 12px;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.detail-order-item-left {
    width: 40%;
}

.detail-order-item-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-order-item i {
    color: var(--gray);
    margin-right: 5px;
}

.modal-detail-bottom {
    padding: 10px 20px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-detail-bottom-left{
    width: 50%;
    left: 27%;
    position: relative;
}

.price-total {
    display: inline-block;
    flex-direction: column;
    text-align: center;


    
}

.price-total .thanhtien {
    color: #808080;
    font-size: 13px;
}

.price-total .price {
    color: var(--gray);
    font-weight: 500;
    font-size: 17px;
    margin-left: 10px;
   
}

.modal-detail-btn {
    color: #fff;
    padding: 10px 0;
    padding-left: 40px;
    padding-right: 25px;
    border-radius: 99px;
    position: relative;
}

.status-complete {
    background-color: #27ae60;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
}

.status-no-complete {
    background-color: #f04e2e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
}

.btn-chuaxuly {
    background-color: var(--light-gray);
    right: 120px;
    color: black;
}
.btn-chuaxuly:hover{
    background-color: var(--gray);
    color: white;
}
.btn-chuaxuly::before {
    content: "\e59b";
    font-family: "Font Awesome 6 Pro";
    position: absolute;
    left: 22px;
}

.btn-daxuly {
    background-color: #27ae60;
    right: 120px;
}

.btn-daxuly::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Pro";
    position: absolute;
    left: 22px;
}

.prod-img-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-align: center;
    width: 80%;
    margin-left: 70px;
    
}
#title-prod-tk{
    text-align: center;
  

}


/* Page Nav  */

.page-nav,
.page-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
    position: sticky;

}
@media (max-width:900px){
    .page-nav,
    .page-nav-list{
        margin-top: 40px;
    }
}
.page-nav-list{
    padding: 13px 25px;
    border-radius: 35px;

}

.page-nav-item a {
    display: inline-block;
    color: #000;
    border: 2px solid #000;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    font-size: 15px;
}

.page-nav-item.active a,
.page-nav-item a:hover {
    background-color: var(--gray);
    color: #fff;
    border: 2px solid var(--gray);
}

/* order-statistical */

.order-statistical{
    display: flex;
    margin: 30px 0;
    column-gap: 20px;
}

.order-statistical-item{
    box-shadow: 0px 1px 5px 2px #f1f1f1;
    width: 24%;   
    display: flex;
    padding: 15px 15px 5px 15px;
    align-items: center;
    justify-content: space-between;
}

.order-statistical-item-icon {
    top: -40px;
    position: relative;
    background-color: var(--lighter-gray);
    box-shadow: 0px 1px 5px 3px #b1a8a8;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 5px;
  
}
.order-statistical-item-icon i{
    font-size: 45px;
    color: var(--gray);
    justify-content: center;

}

.order-statistical-item-content-desc{
    margin-bottom: 6px;
    margin-top: -10px;
    font-size: 14px;
    color:#888
}
.order-statistical-item-content-h{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.order-product span i{
    font-size: 45px;

    color: var(--gray);
    position: relative;
}

#order-product1 i{
    margin-top: -5px;
    margin-left: -10px;
    position: absolute;



}
#order-product2 i{
    top:15px;
    left: 10px;
}

.access-denied-section{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.access-denied-img{
    width: 100%;
}

.no-result{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.no-result-h{
    font-size: 20px;
    margin: 10px
}
.no-result i{
    color: #757575;
    font-size: 80px;
    margin-top: 30px;
}



/* Css advertise message */
.advertise {
    
    align-items: center;
    background-color:transparent;
    border-radius: 2px;
    min-width: 150px;
    max-width: 350px;
    position: relative;
    justify-content: center;
    align-items: center;
    animation: slideInTop 0.5s ease-in-out;

}

.advertise__private {
    display: flex;
    background-color: #fff; 
    border: 1px solid gray;
   
}

@keyframes slideInTop {
    from {
        opacity: .1;
        transform: translateY(calc(170% +30px));
    }

    to {
        opacity: 1;
        transform: translateY(calc(-0%));
    }
}



#advertise {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 20px;
    justify-content: center;
    align-items: center;
    /* margin: 30px auto; */
    z-index: 100;

}



.advertise__icon {
    width: 20%;
    font-size: 25px;
    animation: pulse 2.5s infinite; /* Sử dụng keyframes pulse */
}
@keyframes pulse {
    0% {
        font-size: 25px;
    }
    10% {
      font-size: 30px;
    }
    20% {
        font-size: 25px;
    }
    30% {
        font-size: 30px;
    }
    40% {
        font-size: 25px;
      }
    50% {
        font-size: 30px;
      }
    60% {
        font-size: 25px;
    }
    70% {
      font-size: 30px;
    }
    80% {
        font-size: 25px;
    }
    90% {
        font-size: 30px;
      }
    100% {
        font-size: 25px;
      }
}


.advertise__icon {
    padding: 0 25px;
    line-height: 52px;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
}


.advertise__body {
    flex-grow: 1;
    height:80px  ; 
    justify-content: center; 
    align-items: center;
    width: 280px;
}

.advertise__title {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #333;

}

.advertise__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}




.advertise--success {
    border-color: #47d864;
}

.advertise--success .advertise__icon {
    color: #47d864;
}

.advertise--info {
    border-color: #2f86eb;
}

.advertise--info .advertise__icon {
    color: #2f86eb;
}

.advertise--warning {
    border-color: #ffc021;
}

.advertise--warning .advertise__icon {
    color: #ffc021;
}

.advertise--error {
    border-color: #ff6243;
}

.advertise--error .advertise__icon {
    color: #ff6243;
}
/* .toast__background.initial {
    width: 100%;
} */
.advertise__background {
    height: 4px;
    background-color: #47d864;
    animation: bordercl_time 4s linear;
    position: absolute;
    margin-top: 0;
    max-width:350px;
}

@keyframes bordercl_time {
   
    0% {
        width: 100%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 0%;
    }
}

/* Btn */
.btn {
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;

}

.btn--success {
    background-color: #47d864;
}

.btn--error {
    background-color: #ff6243;
}

.btn:hover {
    transform: scale(0.98);
}

@media (max-width: 575.98px){
    .advertise {
        min-width: 270px;
        max-width: 300px;
    }
}
#price-range {
    width: 25%;
    margin: 0 20px 0 20px;
    padding: 0px;
    height: 8px;
    top: -12px;
    color: grey;

}
@media (max-width: 600.98px){
    #price-range {
        display: block;
        min-width: 270px;
        max-width: 300px;
        top:60px;
    }
    #price-range input{
        font-size: 7px;
    }
    #min-price,
    #max-price,
    #filter-price{
        width: 15px;
    }
}

#price-range span {
    height: 15px ;
    width: 15px;
    border-radius: 35px;
    border: 1px solid gray;
    background-color: grey;
  }
#price-range label {
    margin: 0px;
    font-size: 14px;
  }
#price-range input{
    border: none;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    padding: 0px 0px;
    width: 75px;
}
#min-price{
    margin-top: 20px;
    width: 30px;
}
#max-price{
    width: 30px;
    margin-top: 20px;
}
#filter-price{
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 5px;
    margin-right: 10px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    font-family: SFProDisplay, sans-serif;

    background-color: var(--lighter-gray);
    color: var(--gray);
  
}
#filter-price:hover{
    background-color: var(--gray);
    color: white;
}
#filter-price i{
    padding: 3px 3px 4px 2px;

    font-weight: 300;
    font-size: 20px;
}
#star1,
#star2,
#star3{
    color: var(--star-rate)

}