
#logo{
    width: 180px;
    height: 40px;
    border:rgb(221, 221, 221) solid 0px;
    border-radius: 5px;
}
#logo1{
    width: 180px;
    height: 40px;
    margin-left: 65px;
    margin-top: 6px;
    border-radius: 5px;
}
#sreachicon2{
    width: 35px;
    background-color: white;
}
#iconmenu{              /* icon menu*/
    background-image: url(/icon/list.png);
    background-color: transparent;
    background-size:35px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 40px;
    height: 40px;
    top: 8px;
    left: 8px; 
    border: 0px;
    border-radius: 10px;
    z-index: 99;
    /* display: none; */
}

.headericon{
    border:0px;
    border-radius: 10px;
    float: right;
    display: none;
    z-index: 200;
    cursor: pointer;
}
.headericon button{
    background: center no-repeat transparent;
    background-size:contain ;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 20px;
}
.sreachicon2{
    background: center no-repeat white;
    background-size:contain ; 
    width: 40px;
    height: 40px;
    border: 0px;
    border-left:1px black solid;
    border-radius: 0px 10px 10px 0px;
}
.inputsreach{
    border: 0px;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    display: flex;
}
#loginicon{
    background-image: url('/WebBanAo/icon/usericon.png'); 
}
#sreachicon{              
    background-image: url('/WebBanAo/icon/search.png');
    background-size: 30px 30px;
}
#bagicon{                     /*buy icon */
    background-image: url('/WebBanAo/icon/bag.png');
    background-size: 30px 30px;
}
.sreachform{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: -7px;
    margin-left: 10px;
}

#sreach{
    background-color: #dddddd;
    width: 100%;
    height: 40px;
    border: 0px;
    /* right: 170px; */
    margin-left: 10px;
    /* margin-right: 100px; */
}
#menulist{                        /* menu form  */
    position:fixed;
    display:none;
    background-color: rgb(202, 202, 202);
    top: 0px;
    width: 250px;
    height: 100%;
    z-index: 999;
}
#menulist .sreachform{
    margin-top: 10px;
    width: 240px;
}
.menubuton{
    background-color: transparent;
    border: 0px;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 90%;
    text-align: left;
}
.smallsreachform{
    display: none;
    position: fixed;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    z-index: 1000;
    width: 101%;
    height: 45px;
    margin-top: 8px;
    background-color: white;
}
.smallsreachform div{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
}
.smallsreachform button{
    border: 0px;
    border-radius: 20px;
    background-size: 30px;
    
}

.inputsreach2{
    display: flex;
    width: 100%;
    height: 40px;
    flex-grow: 1;
    border: 2px white solid;
    border-radius: 0px;
    /* margin-left: auto;
    margin-right: auto; */
}
#customalert {
    visibility: hidden;
	background-color: #808c87;
    min-width: 500px;
    color: #fff;
    font-size: 20pt;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 150;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    
}
#customalert.show {
    visibility: visible;
 	animation: fadein 0.5s, fadeout 0.1Fsins 1s;
}



.inputsreach:focus{
    outline: none; 
    border-color: transparent;
}

#iconmenu:hover{
    background-color: #a6a6a6;
    
}
button:hover{
    background-color: rgba(169, 169, 169, 0.547)
}
.inputsreach2:focus{
    border: 0px;
    outline: 0px;
}
button{
    cursor: pointer;
}
@media screen and (max-width:1300px){
    .headleft-click{
        padding: 2px 2px 2px 2px ;
    }
    .headerright-click{
        margin-top: 8px;
        padding:2px 2px 2px 2px ;
    }
    
}
@media screen and (max-width:900px){
    .headcenter{
        margin-left: 10%;
        margin-right: 10%;
    }

}
@media screen and (max-width:800px){
    .lowmenu{
        display: none;
    }
    
    .headleft-click{
        display: none;
    }
    .headerright-click{
        display: none;
    }
    .headericon{
        display: inline-block;
    }
    div.headericon button#sreachicon{
        display: none;
    }
    #iconmenu{
        display: block;
    }
    .headcenter{
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media screen and (max-width:500px){
    /* .sreachform{
        display: none;
    } */
    div.headericon button#sreachicon{
        display: block;
    }
    .headericon #sreach{
        display: none;
    }
    .headericon #sreachicon{
        display: flex;
    }
    .headcenter{
        display: none;
    }
}