:root {
    --gray: rgb(98, 96, 96);
    --lightest-gray: rgb(249, 249, 249);
    --lighter-gray: rgb(240, 240, 240);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 60px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
    --star-rate:rgb(232, 232, 47);
}

body{
    
    background-color: var(--lighter-gray);
    margin: -5px;

}
ul,
li {
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
.slide-img{
    display: none;
    border: none;
}

#customalert {
    visibility: hidden;
	background-color: #808c87;
    min-width: 500px;
    color: #fff;
    font-size: 20pt;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    z-index: 150;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
#customalert.show {
    visibility: visible;
 	animation: fadein 0.5s, fadeout 0.1Fsins 1s;
}
#header-background{
    background-color: var(--medium-gray);
}
.head-img {
    display: flex;
    width: 70%;
    margin: 60px auto;
    margin-bottom: 0;


}
.head-img img{
    width: 100%;

   
}
.headcenter{
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-top: 7px;
    justify-content: center;

}
.headcenter button{
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    padding: 0px 10px 5px 10px;
}
.headbox{
    height: 45px;
    left: 0;
    right: 0;
    z-index: 15;
    flex-grow: 1;
    padding: 7px 0;
    transition: background-color 0.5s, color 0.5s;
    background-color: rgb(255, 255, 255);
     color: black;
     align-items: center;
     position: fixed;
     display: flex;
}
.headbox.scrolled{
    background-color: rgb(221, 221, 221);
     color: black;
     width: 100%;
     height: 45px;
     z-index: 15;
     flex-grow: 1;
     padding: 7px 0;
     align-items: center;
     position: fixed;
     display: flex;
}


#logo{
    width: 180px;
    height: 40px;
    border:rgb(221, 221, 221) solid 0px;
    border-radius: 5px;
}
#logo1{
    width: 180px;
    height: 40px;
    margin-left: 65px;
    margin-top: 6px;
    border-radius: 5px;
}
#sreachicon2{
    width: 35px;
    background-color: white;
}
#iconmenu{              /* icon menu*/
    background-color: transparent;
    background-size:35px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 40px;
    height: 40px;
    top: 8px;
    left: 8px; 
    border: 0px;
    border-radius: 10px;
    z-index: 99;
    /* display: none; */
}

.headericon{
    border:0px;
    border-radius: 10px;
    float: right;
    display: none;
    z-index: 200;
    cursor: pointer;
}
.headericon button{
    background: center no-repeat transparent;
    background-size:contain ;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 20px;
}
.sreachicon2{
    background: center no-repeat white;
    background-size:contain ; 
    width: 40px;
    height: 40px;
    border: 0px;
    border-left:1px black solid;
    border-radius: 0px 10px 10px 0px;
}
.inputsreach{
    border: 0px;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    display: flex;
}

#menulist{                        /* menu form  */
    position:fixed;
    display:none;
    background-color: rgb(202, 202, 202);
    top: 0px;
    width: 250px;
    height: 100%;
    z-index: 999;
}
#menulist .sreachform{
    margin-top: 10px;
    width: 240px;
}
.menubuton{
    background-color: transparent;
    border: 0px;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 90%;
    text-align: left;
}
.smallsreachform{
    display: none;
    position: fixed;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    height: 45px;
    margin-top: 8px;
    background-color: white;
}
.smallsreachform div{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
}
.smallsreachform button{
    border: 0px;
    border-radius: 20px;
    background-size: 30px;
    
}

.pagination{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.pagination a{
    display: flex;
    
}

.scrolled{
    background-color: rgb(222, 215, 215);
     color: black;
     padding: 0;
     height: 50px;
}
.headbox button{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: transparent;
    border: none;
    align-items: center;
}


.headleft{
    display: flex;
    float: left;
    margin-left: 15px;


}
.headleft-click{
    float: left;
    padding: 15px 35px 15px 35px;
    border: 1px solid transparent;

}
.headleft-click:hover{

    border-bottom: 2px solid rgb(255, 0, 0);


}

.headerright-click{
    float: right;
    padding: 15px 35px 15px 35px;
    border: 0px solid transparent;
}
.headerright-click:hover{

    border-bottom: 2px solid rgb(255, 0, 0);
}

.headerright{
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    margin-top:0px;
    margin-right: 1%;
}
.headerright-click button{
    float: right;
    padding: 8px 8px 8px 8px;
    border: 0px;
    border-radius: 20px;
    /* border: 1px solid transparent; */
    
}



.lowmenu{
    left: 0;
    right: 0;
    height: auto;
    border-top:0.5px solid var(--light-gray) ;
    background-color:var(--light-gray);
    top: 49px;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    transition: background-color 0.5s, color 0.5s;
    z-index: 10;
}
.lowmenu button{
    border: 0px;
    padding: 15px;
    margin-right: 35px;
    background-color: transparent;
    border-bottom: 4px solid transparent;
    /* box-shadow: 2px 2px 4px rgba(119, 119, 119, 0.4); */
    font-size: 16px;
}
.lowmenu button:hover{
    border-bottom: 4px solid white;
}
.form-search {
    display: flex;
    justify-content: center;
}



.search-btn {
    border: none;
    outline: none;
    font-size: 18px;
    height: 35px;
    padding: 0 15px;
    color: var(--text-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}
.form-search-input {
    height: 15px;
    outline: none;
    border: none;

    background-color: #f0f0f0;
    padding: 10px 20px;
    width: 50%;
}
.filter-btn{
    border: none;
    outline: none;
    font-size: 18px;
    height: 35px;
    padding: 0 10px;
    color: var(--lightest-gray);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--medium-gray);
}
.filter-btn i{
    padding-right: 5px;
}

.inputsreach:focus{
    outline: none; 
    border-color: transparent;
}
.advanced-search{
    background-color: var(--light-gray);
    position: fixed;
    z-index: 11;
    left: 0;
    right: 0;

    transform: translateY(-55px);
    transition: transform 0.6s ease;
}

.advanced-search.open{
    transform: translateY(15px);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
}

.advanced-search .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    right: 50%;
}

.advanced-search-price{
    display: flex;
    width: 50%;
    padding-bottom: 8px;
    justify-content: center;
 }
#price-range {
    width: 40%;
    margin: 0 20px 0 20px;
    padding: 0px;
    height: 7px;
    top: 12px;
    color: rgb(14, 14, 14);
    font-size: 15px;


}


#price-range span {
    height: 15px ;
    width: 15px;
    border-radius: 35px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
  }
.advanced-search-price label {
    margin: 0px;
    font-size: 14px;
  }
.advanced-search-price input{
    border: none;
    font-size: 13px;
    font-weight: 200;
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
}
#min-price{
    margin-top: 15px;
    width: 95px;
}
#max-price{
    width: 95px;
    margin-top: 15px;
}
#filter-price{
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding:3px;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    font-family: SFProDisplay, sans-serif;
    background-color: var(--lighter-gray);
    color: var(--gray);
  
}
#filter-price:hover{
    background-color: var(--gray);
    color: white;
}
#filter-price i{
    padding: 3px 3px 4px 2px;

    font-weight: 300;
    font-size: 20px;
}
#advanced-search-category-select{
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    background-color: var(--lighter-gray);
    border-right: 10px solid #f0f0f0;
    cursor: pointer;
}


.advanced-search span{
    margin: 0 10px;
    font-size: 15px;
    color: var(--text-color);
}

.advanced-search-control button{
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.advanced-search-control button:hover{
    background-color: var(--medium-gray);
    color: white;
}

#iconmenu:hover{
    background-color: #a6a6a6;
    
}

.inputsreach2:focus{
    border: 0px;
    outline: 0px;
}
button{
    cursor: pointer;
}
@media screen and (max-width:1300px){
    .headleft-click{
        padding: 2px 2px 2px 2px ;
    }
    .headerright-click{
        margin-top: 8px;
        padding:2px 2px 2px 2px ;
    }
    
}
@media screen and (max-width:900px){
    .headcenter{
        margin-left: 10%;
        margin-right: 10%;
    }

}
@media screen and (max-width:800px){
    .lowmenu{
        display: none;
    }
    
    .headleft-click{
        display: none;
    }
    .headerright-click{
        display: none;
    }
    .headericon{
        display: inline-block;
    }
    div.headericon button#sreachicon{
        display: none;
    }
    #iconmenu{
        display: block;
    }
    .headcenter{
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media screen and (max-width:500px){
    /* .sreachform{
        display: none;
    } */
    div.headericon button#sreachicon{
        display: block;
    }
    .headericon #sreach{
        display: none;
    }
    .headericon #sreachicon{
        display: flex;
    }
    .headcenter{
        display: none;
    }
}



#home-title{
    margin: 50px 0 0 0 ;
    align-items: center;
    right: 0;
    left: 0;
    text-align: center;
    border-bottom: 2px solid black;
}
.products{
    border: 1px solid green;
    margin: 20px;
    height: 150px;
    width: 130px;
    display: block;

}
.container{
    padding: 0 10px;
    margin: 70px auto;
    justify-content: center;
    align-items: center;
}
.home-products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.col-product {
    width: 20%;
    padding: 20px;
    overflow: hidden;
    border: 0.01px solid transparent;
}
.col-product:hover{
   font-size: 20px;
}

.card-product {
    background-color: var(--white);
    border-radius: 5px;
    height: 385px;
}

.card-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 280px;
}

.card-header strong {
    position: absolute;
    color: var(--white);
    background-color: var(--red);
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    border-radius: 23px 23px 23px 0px;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

.card-image {
    width: 230px;
    width: 210px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
    opacity: 1;
}
.card-image-hover{
   height: 230px;
   width: 210px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
    opacity: 0;
}
.card-image:hover {
   opacity: 0;
}
.card-image-hover:hover{
    opacity: 1;
}

.card-image-link {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.card-content {
    padding: 8px 10px;
    text-align: center;
}

.card-title-link {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    font-family: Font Awesome 6 Pro;
    
}

.card-footer {
    padding: 5px ;
}

.product-price{
    text-align: center;
}

.product-price .current-price {
    color: black;
    font-weight: 600;
    font-size: 19px;
    font-family: Font Awesome 6 Pro;
}

.product-price .old-price {
    color: black;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 600;
    font-family: Font Awesome 6 Pro;
    background-color: transparent;
}
.product-price .old-price.active{
    text-decoration: line-through;
    color: var(--light-gray);
}

.product-buy {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card-button {
    background-color: var(--light-gray);
    outline: none;
    border: none;
    width:80%;
    padding: 12px;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Font Awesome 6 Pro;
    font-size: 14px;
}

.card-button:hover {
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
    color: white;
    border-radius: 10px;

}

.card-button i {
    margin-right: 3px;
}

/* Page Nav  */
.page-nav,
.page-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;

    position: sticky;

}
@media (max-width:900px){
    .page-nav,
    .page-nav-list{
        margin-top: 40px;
    }
}
.page-nav-list{
    padding: 13px 25px;
    border-radius: 35px;


}
.page-nav-item{
    border-radius: 50%;

}
.page-nav-item a {

    color: #000;
    border: 2px solid #000;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    font-size: 17px;
    display: inline-block;
}

.page-nav-item.active a,
.page-nav-item a:hover {
    background-color: var(--gray);
    color: #fff;
    border: 2px solid var(--gray);
}
#modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 20;
    
}
#login {
    width: 500px;
	background-color: #fff;
	margin: 100px auto;
	animation: topdown 0.7s;
	position: relative;
	z-index: 100;
    border-radius: 30px;
    /* display: none; */
}
.header-login{

    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 10px;
    color: rgb(98, 96, 96);
   
}
.btnclose {
   right: 7px;
   position: absolute;
   top: 2px;
   border: none;
   font-size: 30px;
   background-color: transparent;
   transform: rotate(45deg);

}
.btnclose:hover{
    color: gray;
}
.datalogin{

    display: flex;
    padding: 40px 0;

}
.datalogin label{
    width: 39%;
    margin: 10px 20px 10px 30px;
    font-size: 20px;
    height: 30px;
}
.datalogin input{
    height: 33px;
    width: 58%;
    margin: 0 30px;

}
.footlogin{
    text-align: center;
    border-top: 1px ridge black;
    padding: 20px 15px 10px 15px ;
    
}
.btnlogin{
    
    width: 150px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(163, 135, 135);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnlogin:hover{

    background-color: rgb(222, 231, 228);

}
#signup{
    width: 600px;
	background-color: #fff;
	margin: 70px auto;
	animation: topdown 0.7s;
	position: relative;
	z-index: 100;
    border-radius: 30px;
    display: none;
}
.header-signup{

    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 10px;
    color: rgb(98, 96, 96);
   
}
.datasignup{
    display: flex;
    padding: 23px 0;
}
.datasignup label{
    width: 39%;
    margin: 5px 0px 5px 40px;
    font-size: 20px;
    height: 5px;
}
.datasignup input{
    height: 33px;
    width: 58%;
    margin: 0 40px 0 20px;

}
.footsignup{
    text-align: center;
    border-top: 1px ridge black;
    padding: 10px;
}
.btnsignup{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(163, 135, 135);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnsignup:hover{

    background-color: rgb(222, 231, 228);

}

/* @media screen and(max-width:60%){

    
} */

.footer{
    clear: both;
    background-color: black;
    height: 200px;
}
.footleft{
    color: aliceblue;
}

#container-search{  
    top:0;
    width: 100%;
    height:1000px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
}


.sizebar{
    right:0;
    height: 100%;
    width: 30%;
    transform: translateX(500px);
    display: none;
    position: fixed;
    background: grey;
    z-index: 200;
    opacity: calc(1);
    animation-name: sizebareff;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes sizebareff{
    from{transform: translateX(500px)}
    to{transform: translateX(0px);}
}




.search{
    top: 100px;
    margin-left: 30px;
    height: 50px;
    width: 80%;
    position: absolute;
    border: none;
    background: #ededed;
    display: flex;
    justify-items: center;
}

.form-search{
    height: 30px;
    outline: none;
    border: none;
    padding: 10px 20px;
    width: 81%;
    padding-left: 0;
    background-color: rgb(242, 232, 232);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.icon-search{
    border: none;
    outline: none;
    font-size:20px;
    width: 20px;
    height:50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}


.search-header{
    position: relative;
    top: 100px;
    left: 40px;
}

.close-search{
    right:0;
    top: 0;
    position: absolute;
    background: grey;
    border: none;
    transform: rotate(45deg);
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.close-search:hover{    
    color: red;
}

#div_detail{
    height: 1000px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left: 0;
    z-index: 20;
    place-items: center;

}

.detail{
    height: 70%;
    width: 60%;
    z-index: 100;
    background-color: rgb(231, 229, 226);
    position: relative;
}  

.title{
    font-size: 25px; 
    left: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.div_img{
    display: grid;
    height: 60%;
    width:40%;
    margin-left: 50px;
}

.div_type{
    width: 25%;
    height: 5%;
    display: flex;
    margin-left: 50%;
    transform: translateY(-410px); 
}

.type{
    font-size: 20px;
    font-family:'Oswald', sans-serif;
    color: rgb(95, 92, 92)
}

.nametype{
    font-size: 20px;
    font-family:'Oswald', sans-serif;
    margin: 0 5px;
    color: rgb(77, 77, 211)
}

#div_size{
    height: 8%;
    width: 30%;
    margin-left: 49%;
    transform: translateY(-410px);
    display: flex;
}

.size{
    height: 30px;
    width: 20%;
    margin: 10px;
    text-align: center; 
    line-height: 30px;
    border: 2px solid black;
    cursor: pointer;
}

.size:hover{
    background-color: grey;
    color:white;
}

.div_describe{
    height: 40%;
    width: 40%;
    display: grid;
    margin-left: 50%;
    transform: translateY(-410px);
}

.describe{
    font-size: 20px;
    font-family: 'Noto Serif', sans-serif;
    font-weight: 700;
    
}

#div_quantity{
    width: 15%;
    height: 6%;
    display: flex;
    margin-left: 50%;
    transform: translateY(-410px);
}

#div_quantity button{
    cursor: pointer;
}

.quantity{
    height: 100%;
    width: 30%;
    text-align: center;
    line-height: 40px;
    border: solid 1px black;
}

.quantity:hover{
    background-color: gainsboro;
}

#amount{
    width:30%;
    border: none;
    text-align: center;
}    

.div_price{
    height: 8%;
    width: 30%;
    margin-left: 50%;
    transform: translateY(-410px);
    display: flex;
}

.price{
    font-size: 30px;
    line-height: 10px;
}

.close_detail{
    display: grid;
    width: 1%;
    height: 1%;
    transform: rotate(45deg);
    background: white;
    border: none;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'LucidaSans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 5px;
    right: 5px;
}

.close_detail:hover{
    color: red;
}

.active{
    background-color: grey;
    color:white;
}

.div_buy{
    width: 25%;
    height: 5%;
    display: grid;
    margin-left: 50%;
    transform: translateY(-380px);  
    background-color: black;
    font-size:20px;
    line-height: 35px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'LucidaSans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.div_buy:hover{
    background-color: red;
}