:root {
    --gray: rgb(98, 96, 96);
    --lightest-gray: rgb(249, 249, 249);
    --lighter-gray: rgb(240, 240, 240);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 60px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
    --star-rate:rgb(232, 232, 47);
}

body{
    
    background-color: var(--lighter-gray);
    margin: -5px;

}
ul,
li {
    list-style: none;
    padding: 0;
}

#customalert {
    visibility: hidden;
	background-color: #808c87;
    min-width: 500px;
    color: #fff;
    font-size: 20pt;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    z-index: 150;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
#customalert.show {
    visibility: visible;
 	animation: fadein 0.5s, fadeout 0.1Fsins 1s;
}
#header-background{
    background-color: var(--medium-gray);
}
.head-img {
    align-items: center;
    margin-top:0px;
    width: 100%;
}
.headcenter{
    display: flex;
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px rgb(213, 213, 213) solid;
    border-radius: 10px;
    margin-top: 4px;
}
.headcenter button{
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    padding: 0px 10px 5px 10px;
}
.headbox{
    /* background-color:transparent; */
    height: 35px;
    width: 101%;
    z-index: 99;
    /* justify-content:space-be tween;  */
    flex-grow: 1;
    padding: 10px 0;
    transition: background-color 0.5s, color 0.5s;
    background-color: rgb(255, 255, 255);
     color: black;
     border-bottom: 1px black solid;
     align-items: center;
     position: fixed;
     display: flex;
}
.headbox.scrolled{
    background-color: rgb(221, 221, 221);
     color: black;
     border-bottom: 1px black solid;
     align-items: center;
     position: fixed;
     display: flex;
}
.pagination{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.pagination a{
    display: flex;
    
}

.scrolled{
    background-color: rgb(222, 215, 215);
     color: black;
     padding: 0;
     height: 50px;
}
.headbox button{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: transparent;
    border: none;
    align-items: center;


}


.headleft{
    display: flex;
    float: left;
    margin-left: 15px;


}
.headleft-click{
    float: left;
    padding: 15px 35px 15px 35px;
    border: 1px solid transparent;

}
.headleft-click:hover{

    border-bottom: 2px solid rgb(255, 0, 0);


}

.headerright-click{
    float: right;
    padding: 15px 35px 15px 35px;
    border: 0px solid transparent;
}
.headerright-click:hover{

    border-bottom: 2px solid rgb(255, 0, 0);
}

.headerright{
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    margin-top:0px;
    margin-right: 1%;
}
.headerright-click button{
    float: right;
    padding: 8px 8px 8px 8px;
    border: 0px;
    border-radius: 20px;
    /* border: 1px solid transparent; */
    
}


.head-img {
    align-items: center;
    margin-top:0px;
    width: 100%;
}
.lowmenu{
    border-top: 1px black solid;
    width: 101%;
    height: auto;
    background-color: rgb(219, 219, 219);
    top: 40px;
    padding-bottom: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    transition: background-color 0.5s, color 0.5s;
    z-index: 100;
}
.lowmenu button{
    border: 0px;
    padding: 14px;
    margin-right: 25px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(119, 119, 119, 0.4);
    font-size: 12px;
}
.search-btn {
    border: none;
    outline: none;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    color: var(--text-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}
.form-search-input {
    height: 20px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f0f0f0;
    
    padding: 10px 20px;
    padding-left: 0;
    width: 70%;
}


.content{

    width: 70%;
    /* margin: 0 auto; */
    /* position: static; */
    top: auto;
    position: relative;
    z-index: 10;
    margin: 0 auto;

    background-color: rgb(255, 255, 255) ;


}
.list-prod{
    float: left;
    display: flex;
    border: 2px solid grey;
}
.products{
    border: 1px solid green;
    margin: 20px;
    height: 150px;
    width: 130px;
    display: block;

}
.container{
    max-width: 1230px;
    padding: 0 10px;
    margin: 0 auto;
}
.home-products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.col-product {
    width: 23%;
    padding: 10px;
    overflow: hidden;
}
.card-product {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid #0a0909;
}

.card-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    position: relative;
}

.card-header strong {
    position: absolute;
    color: var(--white);
    background-color: var(--red);
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    border-radius: 23px 23px 23px 0px;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
}

.card-image {
    max-width: 210px;
    min-width: 210px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
    margin: 0 auto;
}

.card-image:hover {
    transform: scale(1.05);
}

.card-image-link {
    display: block;
    width: 100%;
    height: 100%;
}

.card-content {
    padding: 8px 10px;
    text-align: center;
}

.card-title-link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}

.card-footer {
    padding: 5px 10px 10px;
}

.product-price{
    text-align: center;
}

.product-price .current-price {
    color: var(--red);
    font-weight: 600;
    font-size: 15px
}

.product-price .old-price {
    text-decoration: line-through;
    color: #808080;
    font-size: 13px;
    margin-left: 5px;
}

.product-buy {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card-button {
    background-color: var(--red);
    outline: none;
    border: none;
    width: 85%;
    padding: 7px;
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.card-button:hover {
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);

}

.card-button i {
    margin-right: 3px;
}

/* Page Nav  */

.page-nav,.page-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
}

.page-nav-item a {
    display: inline-block;
    color: var(--black);
    border: 2px solid #000;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
    font-size: 15px;
}

.page-nav-item.active a,.page-nav-item a:hover {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--red);
}
#modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    z-index: 20;
    
}
#login {
    width: 500px;
	background-color: #fff;
	margin: 100px auto;
	animation: topdown 0.7s;
	position: relative;
	z-index: 100;
    border-radius: 30px;
    /* display: none; */
}
.header-login{

    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 10px;
    color: rgb(98, 96, 96);
   
}
.btnclose {
   right: 7px;
   position: absolute;
   top: 2px;
   border: none;
   font-size: 30px;
   background-color: transparent;
   transform: rotate(45deg);

}
.btnclose:hover{
    color: gray;
}
.datalogin{

    display: flex;
    padding: 40px 0;

}
.datalogin label{
    width: 39%;
    margin: 10px 20px 10px 30px;
    font-size: 20px;
    height: 30px;
}
.datalogin input{
    height: 33px;
    width: 58%;
    margin: 0 30px;

}
.footlogin{
    text-align: center;
    border-top: 1px ridge black;
    padding: 20px 15px 10px 15px ;
    
}
.btnlogin{
    
    width: 150px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(163, 135, 135);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnlogin:hover{

    background-color: rgb(222, 231, 228);

}
#signup{
    width: 600px;
	background-color: #fff;
	margin: 70px auto;
	animation: topdown 0.7s;
	position: relative;
	z-index: 100;
    border-radius: 30px;
    display: none;
}
.header-signup{

    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 10px;
    color: rgb(98, 96, 96);
   
}
.datasignup{
    display: flex;
    padding: 23px 0;
}
.datasignup label{
    width: 39%;
    margin: 5px 0px 5px 40px;
    font-size: 20px;
    height: 5px;
}
.datasignup input{
    height: 33px;
    width: 58%;
    margin: 0 40px 0 20px;

}
.footsignup{
    text-align: center;
    border-top: 1px ridge black;
    padding: 10px;
}
.btnsignup{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(163, 135, 135);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnsignup:hover{

    background-color: rgb(222, 231, 228);

}

/* @media screen and(max-width:60%){

    
} */

.footer{
    clear: both;
    background-color: black;
    height: 200px;
}
.footleft{
    color: aliceblue;
}

#container-search{  
    top:0;
    width: 100%;
    height:1000px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
}


.sizebar{
    right:0;
    height: 100%;
    width: 30%;
    transform: translateX(500px);
    display: none;
    position: fixed;
    background: grey;
    z-index: 200;
    opacity: calc(1);
    animation-name: sizebareff;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes sizebareff{
    from{transform: translateX(500px)}
    to{transform: translateX(0px);}
}




.search{
    top: 100px;
    margin-left: 30px;
    height: 50px;
    width: 80%;
    position: absolute;
    border: none;
    background: #ededed;
    display: flex;
    justify-items: center;
}

.form-search{
    height: 30px;
    outline: none;
    border: none;
    padding: 10px 20px;
    width: 81%;
    padding-left: 0;
    background-color: rgb(242, 232, 232);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.icon-search{
    border: none;
    outline: none;
    font-size:20px;
    width: 20px;
    height:50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}


.search-header{
    position: relative;
    top: 100px;
    left: 40px;
}

.close-search{
    right:0;
    top: 0;
    position: absolute;
    background: grey;
    border: none;
    transform: rotate(45deg);
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.close-search:hover{    
    color: red;
}

#div_detail{
    height: 1000px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left: 0;
    z-index: 20;
    place-items: center;

}

.detail{
    height: 70%;
    width: 60%;
    z-index: 100;
    background-color: rgb(231, 229, 226);
    position: relative;
}  

.title{
    font-size: 25px; 
    left: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.div_img{
    display: grid;
    height: 60%;
    width:40%;
    margin-left: 50px;
}

.div_type{
    width: 25%;
    height: 5%;
    display: flex;
    margin-left: 50%;
    transform: translateY(-410px); 
}

.type{
    font-size: 20px;
    font-family:'Oswald', sans-serif;
    color: rgb(95, 92, 92)
}

.nametype{
    font-size: 20px;
    font-family:'Oswald', sans-serif;
    margin: 0 5px;
    color: rgb(77, 77, 211)
}

#div_size{
    height: 8%;
    width: 30%;
    margin-left: 49%;
    transform: translateY(-410px);
    display: flex;
}

.size{
    height: 30px;
    width: 20%;
    margin: 10px;
    text-align: center; 
    line-height: 30px;
    border: 2px solid black;
    cursor: pointer;
}

.size:hover{
    background-color: grey;
    color:white;
}

.div_describe{
    height: 40%;
    width: 40%;
    display: grid;
    margin-left: 50%;
    transform: translateY(-410px);
}

.describe{
    font-size: 20px;
    font-family: 'Noto Serif', sans-serif;
    font-weight: 700;
    
}

#div_quantity{
    width: 15%;
    height: 6%;
    display: flex;
    margin-left: 50%;
    transform: translateY(-410px);
}

#div_quantity button{
    cursor: pointer;
}

.quantity{
    height: 100%;
    width: 30%;
    text-align: center;
    line-height: 40px;
    border: solid 1px black;
}

.quantity:hover{
    background-color: gainsboro;
}

#amount{
    width:30%;
    border: none;
    text-align: center;
}    

.div_price{
    height: 8%;
    width: 30%;
    margin-left: 50%;
    transform: translateY(-410px);
    display: flex;
}

.price{
    font-size: 30px;
    line-height: 10px;
}

.close_detail{
    display: grid;
    width: 1%;
    height: 1%;
    transform: rotate(45deg);
    background: white;
    border: none;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'LucidaSans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 5px;
    right: 5px;
}

.close_detail:hover{
    color: red;
}

.active{
    background-color: grey;
    color:white;
}

.div_buy{
    width: 25%;
    height: 5%;
    display: grid;
    margin-left: 50%;
    transform: translateY(-380px);  
    background-color: black;
    font-size:20px;
    line-height: 35px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'LucidaSans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.div_buy:hover{
    background-color: red;
}